{{ define "main" }}
	<main>
		<div class="bio">  
			<div class="bio-content">
				<div class="bio-text">
					<h2>Hello! 👋</h2>
					<p>I'm a data scientist based in Chicago, currently pursuing my master's degree in <a href="https://datascience.uchicago.edu/education/masters-programs/in-person-program/">applied data science at UChicago</a> and interning in the <a href="https://rsginc.com/service/research-analytics/travel-model-development/">travel demand modeling group at RSG</a>.</p>
					<p>I spend a lot of time thinking about car dependency in the U.S. and how investments in active and public transport can improve our cities. I'm also a sports fanatic, and love applying my quantitative background to better understand sports at all levels.</p>
					<p>You can find some projects I've worked on below:</p>
				</div>
				<div class="bio-image">
					<img src="{{ "images/profile.jpeg" | relURL }}" alt="">
				</div>
			</div>
		</div>
	
		{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
		{{ range $paginator.Pages }}
			{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</main>
{{ end }}


